<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>We did it!</h1>
    <p>Address: <%= address %></p>
    <img src="https://images-cdn.9gag.com/photo/amB9Ezv_700b.jpg" alt="meme">
  </body>
</html>
